# data
data/edges/*
!data/edges/.gitkeep
data/nodes/*
!data/nodes/.gitkeep
data/tweets.csv
data/trends/*/*/*
!data/trends/*/*/.gitkeep

# figures
figures/*/*
!figures/*/.gitkeep

# log
main.log

# python
__pycache__

# misc
.DS_Store